<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<plugin id="com.lumapps.html5">
    <feature extension="package.version" value="0.1"/>
    <feature extension="dita.xsl.html5" file="xsl/images.xsl"/>
    <feature extension="dita.xsl.html5" file="xsl/attribute-sets.xsl"/>
    <feature extension="dita.xsl.html5" file="xsl/pagenav.xsl"/>
    <feature extension="dita.xsl.html5" file="xsl/note.xsl"/>
    <feature extension="dita.xsl.html5" file="xsl/related.xsl"/>
    <feature extension="dita.xsl.html5" file="xsl/shortdesc.xsl"/>
    <feature extension="dita.xsl.html5" file="xsl/topic.xsl"/>
    <feature extension="dita.xsl.topicpull" file="xsl/peers.xsl"/>
</plugin>
